<nav class="right-nav">
  <a href="{{ path('app_pizza_home') }}">
    <i class="fa-solid fa-house"></i>
  </a>

<a href="{{ path('app_admin_pizza_list') }}">
    <i class="fa-solid fa-pizza-slice"></i>
  </a>
  
</nav>
<nav class="left-nav">


    <a href="{{ path('app_logout') }}">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>


    <a href="{{ path('app_pizza_home') }}">
      <i class="fa-solid fa-person-walking-arrow-right"></i>
    </a>
</nav>
